BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 4
AlwaysBreakAfterReturnType: AllDefinitions
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Never
  AfterClass: false
  AfterStruct: false
  AfterEnum: false
  AfterNamespace: false
  AfterUnion: false
  BeforeElse: false
  BeforeCatch: false
